/* Developed by Jozek Andrzej Hajduk Sánchez */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

:root {
  --header-background-color: #222831;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: #151a22;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background-color);
  z-index: 100;
}


/* * Styles for SLider HOME */
/* ! Disabled arrow sliders */
.slick-slider button {
  display: none !important;
}
.slick-slider.slick-initialized{
  margin-bottom: 2rem;
}
.slick-slider.slick-initialized::before,
.slick-slider.slick-initialized::after{
  content: "";
  width: 6rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 90;
}
.slick-slider.slick-initialized:before {
  left: 0;
  background-image: linear-gradient(to right,#151a22 30%,transparent 90%);
}
.slick-slider.slick-initialized:after {
  right: 0;
  background-image: linear-gradient(to left,#151a22 30%,transparent 90%);
}